---
---

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: lightgrey;
	background-color: rgba(20,20,20,0.8);
	padding: 15px;
}

header a {
	text-decoration: none;
	color: lightgrey;
	font-family: 'Garamond','Times New Roman','Arial';
	padding: 15px 40px 16px 40px ;
	margin: 0px 5px 0px 5px;
}

header a:hover {
	background-color: rgba(60,60,60,0.7);
}

a {
	text-decoration: none;
	color: lightgrey;
	font-family: 'Garamond','Times New Roman','Arial';
	padding: 15px 40px 16px 40px ;
	margin: 0px 5px 0px 5px;
}

footer {
	font-size: 1.2em;
	color: lightgrey;
	background-color: rgba(50,50,50,0.5);
	bottom: 0;
	left: 0;
	margin-top: 50px;
	padding: 10px;
	position: fixed;
  bottom:0;
  width:100%;
  height:30px;
}

.pageTitle {
	color: rgba(220,220,220,1);
	background-color: rgba(100,100,100,0.5);
	padding: 5px 15px 5px 20px;
	line-height: 0.25;
	margin-top: 70px;
	border-style: solid;
	font-family: 'Garamond', 'Times New Roman';
}

.blurb_backdrop {
	color: rgba(180,180,180,1);
	background-color: rgba(20,20,20,0.8);
	padding: 20px;
	margin-top: 20px;
}

body {
	background-image: url("waves.png");
	background-blend-mode: soft-light;
	background-position: absolute;
	background-attachment: fixed;
	background-repeat: repeat;
}

.main {
	margin-bottom: 60px;
}

body {
	margin: 60px auto;
	width: 70%;
}

footer ul {
	font-family: 'Garamond','Times New Roman','Helvetica','Arial','Sans-Serif';
	padding: 0px;
}

h1 {
	font-size: 3em;
	font-family: 'Garamond','Times New Roman','Helvetica','Sans-Serif'
}


ul.posts {
	margin: 10px;
	font-size: 1.4em;
}

ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}

li {
	display: block;
}
