---
---

.pageTitle {
	color: rgba(80,80,80,1);
	background-color: rgba(192,192,192,0.6);
	padding: 10px 10px 10px 20px;
	line-height: 0.25;
}

.blurb_backdrop {
	color: rgba(80,80,100,1);
	background-color: rgba(192,192,220,0.6);
	padding: 20px;
	margin-top: 20px;
}

body {
	background-image: url("oil2.jpg");
	background-color: lightblue;
	background-position: absolute;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: 60px auto;
	width: 70%;
}

footer ul {
	font-family: 'Helvetica','Arial','Sans-Serif';
	padding: 0px;
}

a {
	text-decoration: none;
	color: #909;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	font-family: 'Times New Roman','Helvetica','Sans-Serif'
}

p {
	font-size: 1.5em;
	line-height: 1.4em;
}

footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}

ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}
