---
---

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: lightgrey;
	background-color: rgba(20,20,20,0.8);
	padding: 15px;
}

header a {
	text-decoration: none;
	color: lightgrey;
	font-family: 'Garamond','Times New Roman','Arial';
	padding: 15px 40px 16px 40px ;
	margin: 0px 5px 0px 5px;
}

header a:hover {
	background-color: rgba(60,60,60,0.7);
}

a {
	text-decoration: none;
	color: lightgrey;
	font-family: 'Garamond','Times New Roman','Arial';
	padding: 15px 40px 16px 40px ;
	margin: 0px 5px 0px 5px;
}

footer {
	font-size: .8em;
	color: lightgrey;
	background-color: rgba(100,100,100,0.5);
	bottom: 0;
	left: 0;
	margin-top: 20px;
	padding: 10px;
}

.imgrk {
	background-image: url("rock.jpg");
	height: 100px;
	width: 100px;
	float: left;
	margin: 0px 15px 15px 0px;
}

.pageTitle {
	color: rgba(90,90,90,1);
	background-color: rgba(20,20,20,0.7);
	padding: 5px 15px 5px 20px;
	line-height: 0.25;
	border: 10px solid transparent;
	border-image: url(rock.jpg) 30 round;
	margin-top: 70px;
}

.blurb_backdrop {
	color: rgba(10,10,10,1);
	background-color: rgba(220,220,220,0.2);
	padding: 20px;
	margin-top: 20px;
}

body {
	background-image: url("purplecloud.jpg");
	background-blend-mode: soft-light;
	background-position: absolute;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: 60px auto;
	width: 70%;
}

footer ul {
	font-family: 'Helvetica','Arial','Sans-Serif';
	padding: 0px;
}

h1 {
	font-size: 3em;
	font-family: 'Times New Roman','Helvetica','Sans-Serif'
}


ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}

ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}

li {
	display: block;
}
