---
layout: default
title: Post Categories
---

<div class="post">
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <i><h2 class="category-head">{{ category_name }}</h2></i>
    <a name="{{ category_name | slugize }}"></a>

    {% for post in site.categories[category_name] %}
    <br>
    <article class="archive-item">
      <span>{{ post.date | date_to_string }}</span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
    </article>
    <br>

    {% endfor %}
  </div>
{% endfor %}
<br>
<br>
</div>
</div>
