---
---

.resume {
	padding: 0px 60px 20px 20px;
	font-size: 0.95em;
}

.resume li {
	list-style: square;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: purple;
	background-color: rgba(20,20,20,0.8);
	padding: 15px;
	min-width: 1000px;
	margin: 0px 10px 0px 10px auto;

}

header a {
	text-decoration: none;
	color: lightgrey;
	font-family: 'Garamond','Times New Roman','Arial';
	padding: 15px 40px 15px 40px ;
	margin: 0px 5px 0px 5px;
}





.gallery{
	padding: 15px 0px 15px 0px;
	padding-bottom: 325px;
	min-width: 1000px;

}

header a:hover {
	background-color: rgba(60,60,60,0.7);
}

a {
	text-decoration: none;
	color: lightgrey;
	font-family: 'Garamond','Times New Roman','Arial';
	padding: 15px 40px 16px 40px ;
	margin: 0px -5px 0px -5px;
}

footer {
	font-size: 1.2em;
	color: lightgrey;
	background-color: rgba(30,30,30,0.8);
	bottom: 0;
	left: 0;
	margin-top: 50px;
	padding: 10px;
	position: fixed;
  bottom:0;
  width:100%;
  height:20px;
	min-width: 1000px;
	margin: 10px 0px 0px 0px;
}

.pageTitle {
	color: white;
	background-color: rgba(100,100,100,0.5);
	padding: 5px 15px 5px 20px;
	margin-top: 70px;
	border-style: solid;
	font-family: 'Garamond', 'Times New Roman';
	height: auto;
	width: 100%;
}

.minWidthT {
	min-width: 1000px;
}

.blurb_backdrop {
	color: rgba(180,180,180,1);
	background-color: rgba(20,20,20,0.8);
	padding: 8px 20px 8px 20px;
	margin-top: 20px;
}

#post_cat {
	background-color: rgba(20,20,20,0.95);
	padding: 10px;
	margin: 10px 0px 10px 10px;
}

#opening {
	background-color: rgba(150,150,150,0.7);
	margin-bottom: -20px;
	padding: 20px;
}

.post_backdrop {
	color: rgba(180,180,180,1);
	background-color: rgba(20,20,20,0.8);
	padding: 10px 20px 10px 20px;
	margin-left: -39px;
	margin-top: 20px;
	width: 100%;
}

.post {
	color: rgba(180,180,180,1);
	background-color: rgba(20,20,20,0.8);
	padding: 10px 20px 10px 20px;
	margin-top: 20px;
	min-width: 1000px;
}

.resume_backdrop {
	color: rgba(180,180,180,1);
	background-color: rgba(20,20,20,0.8);
	padding: 10px 20px 10px 20px;
	margin-top: 20px;
}

.post_backdrop li{
	list-style: none;
}

body {
	background-image: url("diagonal_striped_brick.png");
	background-position: absolute;
	background-attachment: fixed;
	background-repeat: repeat;
	min-width: 1000px;
	margin: 10px auto;
}

.main {
	margin-bottom: 60px;
}

body {
	margin: 60px auto;
	width: 70%;
}

footer ul {
	font-family: 'Garamond','Times New Roman','Helvetica','Arial','Sans-Serif';
	padding: 0px;
}

h1 {
	font-size: 3em;
	font-family: 'Garamond','Times New Roman','Helvetica','Sans-Serif'
}

.blurb_backdrop ul {
	list-style-type: disc;
}

.posts ul {
	margin: 10px;
	font-size: 1.4em;
	display: inline-block;
	float: left;
}

footer ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}

header ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}

header li {
	display: block;
}

footer li {
	display: block;
}


#linked{
	height: 200px;
	width: 205px;
	float: left;
	margin: -1px 18px 5px 20px;
	padding-left: 0px;
}
