body {
    background-color: rgba(20,20,20,0.7);
}

.stripe {
    background-color: rgba(100,0,100,1);
    position: absolute;
    length: 100%;
    width: 100px;
    padding: 0px;
}

.main {
    background-color: rgba(20,20,20,0.7);
    font-family: 'Garamond','Times New Roman','Arial';
    font-size: 1.2em;
    padding: 10px;
}

