---
---

body, html{background-color:#FFFFFF; min-height: 100% !important; height: auto; margin: 0px; padding: 0px;  font-family: 'courier','helvetica','arial'; display: flex; position: relative;}

.stripe1 {background-color:#BC3C18; float:left; width:50px; padding: 0px; margin: 0px; height: auto; min-height: 100% !important; overflow: auto; position: absolute;}

.main {margin-top: -28px; margin-left: 50px; padding: 20px;}

.head {background-color: #FFFFFF; padding: 0px 0px 10px 0px; position: fixed; width: 100%;}
.head h1 {font-size: 40px;}
.headLinks {margin-top: -25px; color: #CCCCCC}
a {text-decoration: none; color: #666666}

.content {background-color: #8A716A; margin-top: 110px;}







