---
---

body, html{background-color:#FFFFFF; height: 100%; margin: 0px; padding: 0px;  font-family: 'courier','helvetica','arial';}
.stripe1 {background-color:#271033; float:left; display:fixed; width:40px; padding: 0px; margin: 0px; height: 100%;}
.stripe2 {background-color:#613DC1; float:left; display:fixed; width:30px; padding: 0px; margin: 0px; height: 100%;}
.stripe3 {background-color:#858AE3; float:left; display:fixed; width:20px; padding: 0px; margin: 0px; height: 100%;}
.main {margin-top: -30px; padding: 20px; display: block; float: left;}
.head {margin-top: -20px; color: #A3A3A3}
a {text-decoration: none; color: #707070}







