<!DOCTYPE html>
<html>
	<head>
		<title> {{ page.title }} </Title>
		<link rel="stylesheet" type="text/css" href="{{ url }}/assets/css/style.css">
		<link href="{{ url }}/assets/css/syntax.css" rel="stylesheet">
		<script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>

	</head>
	<body>

		<div class="main">
			<header>
					<a href="https://www.youtube.com/">tyler maule</a>
					<a href="https://www.pandora.com/">blog</a>
					<a href="https://www.wunderground.com/">resumé</a>
			</header>
			<div class = "pageTitle">
				<h1> {{ page.title }} </h1>
			</div>
			<div class = "container">
				{{ content }}
			</div>
		</div>
	</body>
	<footer>
		<a href="mailto:tyler.j.maule@gmail.com"
		target="_blank"><ion-icon name="mail"></ion-icon>
	</a><a href="https://www.linkedin.com/in/tyler-maule-41a145118/"
		target="_blank">
		<ion-icon name="logo-linkedin"></ion-icon></a>
	</footer>
</html>
