<!DOCTYPE html>
<html>
	<head>
		<title> {{ page.title }} </Title>
		<link rel="stylesheet" type="text/css" href="{{ url }}/assets/css/style2.css">
		<link href="{{ url }}/assets/css/syntax.css" rel="stylesheet">
		<script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>

	</head>
	<body>
        <div class="stripe1"></div>
        <div class="stripe2"></div>
        <div class="stripe3"></div>
		<div class="main">
            <h1> TYLER MAULE </h1>
			<div class="head">
					<a href="">tyler maule</a> //
					<a href="">blog</a> //
					<a href="">resume</a>
			</div>
			<div class = "pageTitle">
				<h1> {{ page.title }} </h1>
			</div>
			<div class = "container">
				{{ content }}
			</div>
		</div>
	</body>
	<footer><!--
		<a href="mailto:tyler.j.maule@gmail.com"
		target="_blank"><ion-icon name="mail"></ion-icon>
	</a><a href="https://www.linkedin.com/in/tyler-maule-41a145118/"
		target="_blank">
		<ion-icon name="logo-linkedin"></ion-icon></a>-->
	</footer>
</html>